//- layout.jade
doctype html

html
  head
    meta(charset='utf-8')

    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    link(type="image/x-icon", rel="shortcut icon", href="/images/favicon.ico")

    title #{title}
    meta(name="description", content="思いたったらすぐ開発, プログラミングに革命を...")
    meta(name="keywords", content="runstant,tool,javascript,html,css")

  body
    block content
      
